<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/1027 - Assignment 4/src/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="lena.jpg&#13;&#10;30&#13;&#10;30&#13;&#10;30&#13;&#10;6"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="1027 - Assignment 4"/>
</launchConfiguration>
